PORT=3000
MONGODB_URI=mongodb://localhost:27017/blog_list
TEST_MONGODB_URI=mongodb://localhost:27017/blog_list_test
JWT_SECRET=88c96e71a89f89fe209194c5a75607bb
JWT_EXPIRES_IN=7d
COOKIE_NAME=blog_session
BCRYPT_ROUNDS=12
